:root {
    --blanco: #ffffff;                                          /*se crean variables para los colores*/
    --oscuro: #212121;
    --primario: #ffc187;
    --secundario: #0097A7;
    --gris: #757575;
    --grisClaro: #DFE9F3;
}



html{
    font-size: 62.5%;                                            /*tamaño de letras para todo el html*/
    box-sizing: border-box;
    scroll-snap-type: y mandatory;                               /* el scroll devera navegar en las coordenadas "y" y no en "x" atra variable en lugar de mandatory es proximity*/
}

/*scroll snap*/
.servicios,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;                                  /*detiene y fija el scroll de la pagina*/
    scroll-snap-stop: always;
    
}

*, *:before, *:after {                                        /*variables globales para los box sizing*/
    box-sizing: inherit;
  }

body{
    font-size: 16px;                                         /* 1rem = 10px */
    font-family: 'Imbue', serif;                             /*tipo de fuente que se va ausar la fuente  se trajo de google*/
    /*background-image: linear-gradient(to top, var(--grisClaro) 0%, var(--blanco) 100%);     color de la pagina degradado*/
    background: #1D976C;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
font-size: 3.8rem;                                           /*Los h1 son de 38 px*/
}

h2{
    font-size: 2.8rem;
}

h3{
    font-size: 1.8rem;
}

h1,h2,h3{
    text-align: center;                                         /*centra todos los h*/
}

.titulo span{
    font-size: 2rem;
}

.boton{
    background-color: var(--secundario);
    color: var(--blanco);
    padding: 1rem 3rem;                                       /*con esta medidas da a entender 1rem 3rem 1rem 3rem para los cuatro lados*/
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: .5rem;
    width: 90%;
    text-align: center;
    border: none;
}

@media(min-width:768px){                             /*minimo  o menor de 768 el botom se vuelve auto abarcando toda la pantalla del cel*/
    .boton{
        width:auto;                                  /*en la computadora hace el boton pequeño*/
    }
}

/*utilidades*/
.w-sm-100{
    width: 100%;
}

@media(min-width: 768px){
    .w-sm-100{
        width: auto;
    }
}

.flex{
    justify-content: flex-end;
}

.alinear-derecha{
    justify-content: flex-end;
}
.boton:hover{
    cursor: pointer;
}

.sombra{
    -webkit-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.48);
    -moz-box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.48);
    box-shadow: 0px 0px 11px 3px rgba(0,0,0,0.48);
    background: var(--blanco) ;
    padding: 2rem;                                          /*para que se separen las letras de las orillas*/
    border-radius: .5rem;
}

.nav-bg{
    background-color: var(--secundario);                    /*se define el color del nav*/
}

.navegacion-principal{
   
    display: flex;                                           /*se usa flex para alinear ya sea en columnas o filas row los contenidos y deveran de estar en un div*/
    flex-direction: column;    
}

@media (min-width: 768px) {                                   /*adapta el navegador a los celulares*/
    .navegacion-principal{
        flex-direction: row;
        justify-content: space-between;
    }
}

.navegacion-principal a{                                      /*son clases mas especificas utilizando las propiedades de los css a*/
    display: block;
    text-align: center;
color: var(--blanco);
text-decoration: none;
font-size: 2rem;
font-weight: 700;
padding: 1rem;
}

.navegacion-principal a:hover{                                 /*poner la mano en la navegacion y el cambio de color*/
background-color: var(--primario);
color: var(--oscuro);
}
.contenedor{
    
    max-width: 120rem;
    margin: 0 auto;
   
 
}

.hero {
    background-image: url(hero.jpg);                        /*imagen */
    background-repeat: no-repeat;
    background-size: cover;                                 /*cubre todo el espacio*/
    height: 450px;
   /* padding: 20px;*/
    position: relative;                                     /*el padre devera de tener el relative para que el hijo pueda ubicarse  en cualquier parte siendo este absolute*/
    margin-bottom: 2rem ;                                   /*nos creara un espacio entre los elementos entre la imagen y mis servicios*/

}

.contenido-hero{
    position: absolute;
    /*background-color: rgba(0,0,0, .7);*/
    background-color: rgb(0 0 0 / 70%);                  /* se realiza una opacidad sobre la imagen*/
   /* width: 2rem;
    height: 2rem;
    bottom: 0;                                             //estab es otra forma de ocupar todo el espacio
    right: 0;*/
    width: 100%;
    height: 100%;

    display: flex;                                        /*todo este codigo hace que se pocisiones  al centro el contenido del div*/
    flex-direction: column;
    align-items: center;
    justify-content: center;

}



.contenido-hero h2,
.contenido-hero p{                                      /*hace que las letras se tornen blancas*/
    color: var(--blanco)
}

.ubicacion{                                            /*ubicacion por flex de la leyenda ciudad sahagun, hidalgo*/
    display: flex;
    align-items: flex-end;
}


@media(min-width: 768px){
 .servicios{
    display: grid;

   /* grid-template-columns: 300px 300px 300px;//tres formas de organizar un grid
      grid-template-columns: 33.3% 33.3% 33.3%;
      grid-template-columns: 1fr 1fr 1fr;*/

      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;                                /*es la separacion entre las columnas*/
 }
}

.servicio{                                           /* centra los circulos en la pagina*/
display: flex;
flex-direction: column;
align-items: center;
background: #43cea2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.servicio h3{
 color: var(--blanco);
 font-weight: normal;
}

.servicio p{
    line-height: 2;                                   /*interlineado en los parrafos*/
    text-align: center;
}

.servicio .iconos{                                     /*centra los iconos en los circulos*/
    height: 15rem;
    width: 15rem;
    background-color: var(--primario);
    border-radius: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.formulario{
background-color: var(--gris);
width: min(60rem, 100%);
margin: 0 auto;                                          /*centra el formulario*/
padding: 2rem;
border-radius: 1rem;

}

.formulario fieldset{
border: none;                                          /*elimina el marco  que trae popr default*/
}

.formulario legend{
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;                                 /*separa el titulo del la primera entrada o input*/
    color: var(--primario);
}

@media(min-width:768px){
.contenedor-campos{
    display: grid;
   /* grid-template-columns: repeat(2, 1fr);*/
   grid-template-columns: 50% 50%;
   column-gap: 1rem;

}
}
.campo:nth-child(3),
.campo:nth-child(4){
   grid-column: 1/3;;
}

.campo{
  margin-bottom: 1rem;
}

.campo label{
color: var(--blanco);
font-weight: bold;
margin-bottom: .5rem;
display: block;
}

/*.campo input[type="text"],                            //tipos de selectores
.campo input[type="tel"]{
    background-color: red;
}*/

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

/*.enviar .boton{
    width: 100%;
}*/

.campo textarea{
    height: 20rem;
}

.footer{
    text-align: center;
}